.clrbth { clear: both; }
.contentbox { border: 1px solid #ccc; }
.mrgT17 { margin-top: 17% !important; }
.pd1 { padding: 1%; }
.pd2 { padding: 2%; }
.pd3 { padding: 3%; }
.brdBtmN { border: 0px 0px 0px !important; }